body {
    background: url("../images/milky-way-starry-sky-night-sky-star.jpg");
    font-size: 24px;
}
.container {
    opacity: 0.8;
    text-align: center; 
    padding-top: 40px;
    background: url("../images/sky-earth-space-working.jpg");
    width: 768px;
    height: 765px;
}
h1 {
    text-transform: uppercase;
    font-size: 56px;
    font-weight: bold;
}

h2 {
    font-size: 48px;
}
#game-container {
    background: whitesmoke;
    line-height: 1.5;
}
button {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(7, 7, 37);
}
button:hover {
    background:  rgb(7, 7, 37);
    color: whitesmoke;
}